:root{
	--body-dark: #0f0f0f;
}

*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: var(--body-dark);
	font-family: 'Poppins';
}

.container {
  display: grid;
  grid-template-columns: 320px 1fr;
}

.d3__banner{
	width: 100%;
	height: 100dvh;
	text-align: center;
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.d3__banner::after,
.d3__banner::before{
	content: "";
	width: 100%;
	height: 100px;
	left: 0px;
	position: absolute;
	z-index: 10;
	pointer-events: none;
	user-select: none;
}

.d3__banner::before{
	top: 0px;
	background-image: linear-gradient(180deg, var(--body-dark) 5%, transparent 100%);
}

.d3__banner::after{
	bottom: 0px;
	background-image: linear-gradient(0deg, var(--body-dark) 5%, transparent 100%);
}

.d3__slider{
	position: absolute;
	width: 200px;
	height: 250px;
	transform-style: preserve-3d;
	scale: 0.8;
	transition: 800ms;
	transform: perspective(1500px);
}

.d3__item{
	position: absolute;
	inset: 0;
	transform: rotateX(calc((var(--position) - 1) * (360 / var(--quantity)) * -1deg)) translateZ(420px);
	transition: 500ms;
}

.d3__img__pers{
	border-radius: 8px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: pointer;
}


@view-transition {
  navigation: auto;
}

.info{
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y:auto ;
	height: 100dvh;
}

.img__preview{
  view-transition-name: page;
	height: 800px;
	border-radius: 8px;
}

::view-transition-old(page) {
/*  animation: fade 0.2s linear;*/
}

::view-transition-new(page) {
  animation: fade 250ms linear forwards;
}

@keyframes fade {
  0% {
    opacity: 0.5;
		transform: translateX(-50%) scale(0.5);
  }

  100% {
    opacity: 1;
		transform: translateX(0%) scale(1);
  }
}
